
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer a {
    color: #f6f0ef; 
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .highlight {
    color: #fff; 
  }
  